asgiref==3.11.0
cbor2==5.9.0
cryptography==49.0.0
Django==6.0
django-cors-headers==4.9.0
django-extensions==4.1
django-htmx==1.26.0
djangorestframework==3.16.1
psycopg2-binary==2.9.11
pyOpenSSL==26.3.0
python-dotenv==1.2.1
sqlparse==0.5.3
gunicorn==23.0.0
webauthn==2.8.0
whitenoise==6.8.2
